<template>
  <div>
    <div class="breadcrumbs">
      <div class="container">
        <header>
          <h3>西安的各种风景名胜</h3>
          <p>
            首批
            <span class="pink">中国优秀旅游城市</span>两项六处遗产被列入
            <strong>世界遗产名录</strong>
          </p>
        </header>
      </div>
      <!-- container ends here -->
      <hr class="separator1">
    </div>
    <!-- breadcrumbs ends here -->
    <!-- Features ==================================================
    ==================================================-->
    <div id="resume">
      <div class="container resume">
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp西安是首批中国优秀旅游城市，文化遗存具有资源密度大、保存好、级别高的特点，在中国旅游资源普查的155个基本类型中，西安旅游资源占据89个。西安周围帝王陵墓有72座，其中有“千古一帝”秦始皇的陵墓，周、秦、汉、唐四大都城遗址，西汉帝王11陵和唐代帝王18陵，大小雁塔、钟鼓楼、古城墙等古建筑700多处。</p>
        <div class="one_third">
          <p>
            <img src="images/images/z1.jpg" alt>
          </p>
        </div>
        <div class="two_third lastcolumn">
          <p>
            <strong>秦始皇兵马俑博物馆</strong>： 世界文化遗产、全国重点文物保护单位、国家AAAAA级旅游景区、国家一级博物馆。秦始皇兵马俑博物馆被誉为“世界第八大奇迹”，是当代最重要的考古发现之一。
          </p>
          <p>
            <strong>大雁塔</strong>： 世界文化遗产、全国重点文物保护单位、国家AAAAA级旅游景区。大雁塔被视为古都西安的象征。大雁塔是8世纪为保存玄奘法师由天竺经丝绸之路带回长安的经卷佛像而建。
          </p>
        </div>
        <div class="two_third lastcolumn">
          <p>
            <strong>小雁塔</strong>： 世界文化遗 产、全国重点文物保护单位、国家AAAA级旅游景区。小雁塔建于唐代景龙年间。塔原有15层，现存13层，高43.4米。
          </p>
          <p>
            <strong>大明宫</strong>： 世界文化遗产、全国重点文物保护单位、国家AAAA级旅游景区。大明宫是东方宫殿建筑艺术的杰出代表，被誉为丝绸之路的东方圣殿。
          </p>
        </div>
        <div class="one_third">
          <p>
            <img src="images/images/z2.jpg" alt>
          </p>
        </div>
        <div class="two_third lastcolumn">
          <div class="one_fourth">
            <p>
              <img src="images/portfolio/1.jpg" alt>
            </p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp秦皇陵</p>
          </div>
          <div class="one_fourth">
            <p>
              <img src="images/portfolio/2.jpg" alt>
            </p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp大雁塔</p>
          </div>
          <div class="one_fourth">
            <p>
              <img src="images/portfolio/3.jpg" alt>
            </p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp小雁塔</p>
          </div>
          <div class="one_fourth lastcolumn">
            <p>
              <img src="images/portfolio/4.jpg" alt>
            </p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp大明宫</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Features FAQ ==================================================
    ==================================================-->
    <div class="container">
      <hr class="separator">
      <div class="accordion-trigger">
        <h3>回民街</h3>
      </div>
      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/portfolio/h1.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/portfolio/h2.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/portfolio/h3.jpg" alt>
        </div>
        <!--end one_third-->
        <p>西安回民街是西安著名的美食文化街区，是西安小吃街区。回民街所在北院门，为清代官署区，因陕西巡抚衙门在鼓楼之北，故名北院。1990年代末，部分回民在此街租房经营餐饮，莲湖区遂改向餐饮街方向改造，北院门遂成为回民街。更多详细介绍尽在美食页面。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>西岳华山</h3>
      </div>
      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/portfolio/h4.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/portfolio/h5.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/portfolio/h6.jpg" alt>
        </div>
        <!--end one_third-->
        <p>华山（Mount Hua），古称“西岳”，雅称“太华山”，为中国著名的五岳之一，中华文明的发祥地，“中华”和“华夏”之“华”，就源于华山。位于陕西省渭南市华阴市，在省会西安以东120千米处。南接秦岭，北瞰黄渭，自古以来就有“奇险天下第一山”的说法。华山是第一批国家重点风景名胜区，国家AAAAA级旅游景区，全国重点文物保护单位。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>大唐芙蓉园</h3>
      </div>
      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/portfolio/d1.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/portfolio/d2.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/portfolio/d3.jpg" alt>
        </div>
        <!--end one_third-->
        <p>
          大唐芙蓉园位于陕西省西安市城南的曲江开发区，大雁塔东南侧，它是在原唐代芙蓉园遗址以北，仿照唐代皇家园林式样重新建造的，是中国第一个全方位展示盛唐风貌的大型皇家园林式文化主题公园，占地面积一千亩，其中水域面积三百亩。
          园内建有紫云楼、仕女馆、御宴宫、杏园、芳林苑、凤鸣九天剧院、唐市等许多仿古建筑，是中国最大的仿唐皇家建筑群，景区由中国工程院院士张锦秋担纲总体规划和建筑设计。
          大唐芙蓉园于2002年开始建设，2004年落成，2005年4月11日（农历三月初三）正式对外开放。 2011年1月17日被国家旅游局评为国家AAAAA级旅游景区。
        </p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>西安明城墙</h3>
      </div>
      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/portfolio/c1.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/portfolio/c2.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/portfolio/c3.jpg" alt>
        </div>
        <!--end one_third-->
        <p>西安城墙又称西安明城墙，是中国现存规模最大、保存最完整的古代城垣，是第一批全国重点文物保护单位、国家AAAA级旅游景区。广义的西安城墙包括西安唐城墙和西安明城墙，但一般特指狭义上的西安明城墙。西安明城墙位于陕西省西安市中心区，墙高12米，顶宽12—14米，底宽15—18米，轮廓呈封闭的长方形，周长13.74千米。城墙内人们习惯称为古城区，面积11.32平方千米，著名的西安钟鼓楼就位于古城区中心。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>华清池</h3>
      </div>
      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/portfolio/h7.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/portfolio/h8.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/portfolio/h9.jpg" alt>
        </div>
        <!--end one_third-->
        <p>唐华清宫，是唐代封建帝王游幸的别宫。后也称“华清池”，位于陕西省西安市临潼区。背山面渭，倚骊峰山势而筑，规模宏大，建筑壮丽，楼台馆殿，遍布骊山上下。初名“汤泉宫”，后改名温泉宫。唐玄宗更华清宫，因在骊山，又叫骊山宫，亦称骊宫、绣岭宫。华清宫始建于唐初，鼎盛于唐玄宗执政以后。唐玄宗悉心经营建起如此宏大的离宫，他几乎每年十月都要到此游幸。岁尽始还长安。安史乱后，政局突变，华清宫的游幸迅速衰落，唐朝以后各代皇帝已很少出游华清宫。后历代皇家有维修，到解放前已是汤池寥落，宫殿萧疏。华清池，解放后人民政府自1959年起进行了大规模的扩建。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>壶口瀑布</h3>
      </div>
      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/portfolio/p1.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/portfolio/p2.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/portfolio/p3.jpg" alt>
        </div>
        <!--end one_third-->
        <p>壶口瀑布是国家级风景名胜区，国家AAAA级旅游景区。西临陕西省延安市宜川县壶口乡，东濒山西省临汾市吉县壶口镇，为两省共有旅游景区。南距陕西西安350千米；北距山西太原387千米。壶口瀑布是中国第二大瀑布，世界上最大的黄色瀑布。黄河奔流至此，两岸石壁峭立，河口收束狭如壶口，故名壶口瀑布。瀑布上游黄河水面宽300米，在不到500米长距离内，被压缩到20－30米的宽度。1000立方米/秒的河水，从20多米高的陡崖上倾注而泻，形成”千里黄河一壶收”的气概。</p>
        <hr class="separator1">
      </div>
      <hr class="separator">
    </div>
  </div>
</template>

<script>
export default {
  name: "attraction",
  components: {}
};
</script>

