<template>
  <div>
    <div class="breadcrumbs">
      <div class="container">
        <header>
          <h3>给我们留言</h3>
          <p>
            在下方的文本框内输入您想说的话并点击
            <span class="pink">输入留言</span>
          </p>
        </header>
      </div>
      <!-- container ends here -->
      <hr class="separator1">
    </div>

    <div class="container contact">
      <div id="content">
        <div id="post">
          <textarea class="transition"></textarea>
          <input id="postBt" type="button" value="输入留言">
          <input id="clearBt" type="button" value="清空数据">
        </div>
        <div id="comment"></div>
      </div>
    </div>

    <div class="blankSeparator"></div>
  </div>
</template>

<script>
export default {
  name: "attraction",
  components: {}
};
</script>





