
<template>
  <div class="small">
    <line-chart></line-chart>
  </div>
</template>

<script>
import { Line } from "vue-chartjs";
const LineChart = {
  extends: Line,
  mounted() {
    // Overwriting base render method with actual data.
    this.renderChart({
      labels: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      datasets: [
        {
          label: "GitHub Commits",
          backgroundColor: "#f87979",
          data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
        }
      ]
    });
  }
};

export default {
  name: "education",
  components: {
    LineChart
  }
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>