
<template>
  <div>
    <div class="breadcrumbs">
      <div class="container">
        <header>
          <h3>文化古都</h3>
          <p>
            <span class="pink">——美丽的西安——</span>
            <strong>文化聚集地</strong>
          </p>
        </header>
      </div>
      <!-- container ends here -->
      <hr class="separator1">
    </div>

    <div class="container">
      <div class="ten columns alpha">
        <article class="post">
          <h2>西安交通大学</h2>
          <a href="images/jiaoyu/jiaotong.jpg" class="prettyPhoto[gal]">
            <img class="shadow" src="images/jiaoyu/jiaotong.jpg" alt>
          </a>
          <p>
            西安交通大学（Xi'an Jiaotong University）简称“西安交大”，位于古都西安，是中华人民共和国教育部直属全国重点综合性研究型大学，
            是国家“七五”、“八五”首批重点建设高校之一，“211工程”首批重点建设的七所大学之一，“985工程”首批重点建设的九所高校之一，
            世界一流大学建设高校。是中国九校联盟（C9）、中国大学校长联谊会、“111计划”成员，“珠峰计划”首批11所名校之一，
            教育部首批“卓越工程师教育培养计划”高校，首批教育部来华留学示范基地建设高校，国家2011计划“高端制造装备协同创新中心”牵头高校，
            “中俄交通大学联盟”成员高校。
          </p>
        </article>
        <article class="post">
          <h2>西北工业大学</h2>
          <a href="images/jiaoyu/xibei.jpg" class="prettyPhoto[gal]">
            <img class="shadow" src="images/jiaoyu/xibei.jpg" alt>
          </a>
          <p>
            西北工业大学（Northwestern Polytechnical University）简称“西工大”，位于古都西安，是中国唯一一所以同时发展航空、航天、航海（三航）
            工程教育和科学研究为特色的多科性、研究型、开放式国家重点大学，隶属于中华人民共和国工业和信息化部。由工信部、教育部、陕西省共建，
            是“世界一流大学建设高校”，“985工程、211工程”重点建设高校，入选“2011计划”、“111计划”、“卓越工程师教育培养计划”，是“卓越
            大学联盟”、“中俄工科大学联盟”、“中俄交通大学联盟”、“中英大学工程教育与研究联盟”成员。
          </p>
          <article class="post">
            <h2>西安电子科技大学</h2>
            <a href="images/jiaoyu/xidian.jpg" class="prettyPhoto[gal]">
              <img class="shadow" src="images/jiaoyu/xidian.jpg" alt>
            </a>
            <p>
              西安电子科技大学（Xidian University），简称“西电”或“西军电”，是中华人民共和国教育部直属的全国重点大学，由教育部与工信部、
              国防科技工业局、中国电子科技集团公司、陕西省、西安市共建 。是1959年首批20所全国重点大学、世界一流学科建设高校、北京高科大学联盟
              成员高校之一 ，入选国家首批“211工程”、“985工程优势学科创新平台”、“2011计划”、“111计划”、“卓越工程师教育培养计划”，是中
              国电子信息领域科学研究和人才培养的核心基地，中国雷达、信息论、密码学、电子对抗、微波天线等学科的发源地。/p&gt;
            </p>
          </article>
        </article>
      </div>
      <!-- ten columns ends here -->

      <aside class="six columns omega shadow1">
        <section class="recentnews">
          <h4 class="sidebarheader">教育要闻</h4>
          <ul class="tabs">
            <li>
              <a class="active" href="#trends"></a>
            </li>
            <li>
              <a class href="#fashion"></a>
            </li>
          </ul>
          <ul class="tabs-content">
            <li class="active" id="trends">
              <p>
                西安的教育一直都面临着学位供需不足，资源分配不均、公办学位指标不足、民办名校收费高等问题，这不仅是西安政府头疼的问题，更是西安市民的头号大难题。因此，继民办小升初“摇号”之后，西安市教育局再次发声——2018年西安市学区划分将在5月底公布，目前民办小升初政策正在做最后论证。
                2018年西安全市将新增学位4万个。
              </p>
            </li>
            <li id="fashion">
              <p>
                根据教育局获得的信息，西安学区划分，公办学校（政府办学校、事业办学校）学区划分工作以单校划片为主，探索多校划片，由各区县教
                育局具体落实。根据辖区适龄学生人数、校舍布点、所在社区、学校规模、交通状况、走读半径等因素，按照确保公平和就近入学原则，
                依街道、路段、门牌号、村组等因素为每一所中小学科学合理划定学区，做到学区服务范围全覆盖，确保适龄儿童、少年整体上相对就近入
                学。2018年学区划分将于5月底在各区县政府门户网站公布，可在孩子家庭户籍所在的区县教育局门户网站进行查看。
                此外，还有一个利好消息，：西安今年新建标准化中小学、幼儿园30所，实施“全面改薄”154所，2018年西安全市将增加学位40000个，
                普惠性幼儿园占比要达到65%。以大学区建设为抓手，年内组建25个“名校+”教育联合体，促进优质教育资源共享。
              </p>
            </li>
          </ul>
        </section>
        <!--end recent news-->
        <section class="latestphotos">
          <h4 class="sidebarheader">Photos</h4>
          <div class="one_half">
            <img class="shadow" src="images/jiaoyu/1.png" alt="work1">
          </div>
          <div class="one_half lastcolumn">
            <img class="shadow" src="images/jiaoyu/2.png" alt="work2">
          </div>
          <div class="one_half">
            <img class="shadow" src="images/jiaoyu/3.png" alt="work3">
          </div>
          <div class="one_half lastcolumn">
            <img class="shadow" src="images/jiaoyu/4.png" alt="work4">
          </div>
        </section>
        <!--end latestphotos-->
      </aside>
      <!--end six columns-->
    </div>
  </div>
</template>

<script>
export default {
  name: "education",
  components: {}
};
</script>

