<template>
  <div>
    <div class="breadcrumbs">
      <div class="container">
        <header>
          <h3>美食天下</h3>
          <p>
            <span class="pink">—— 西安 ——</span>拥有无数美食的聚集地
            <a href rel="nofollow"></a>
          </p>
        </header>
      </div>
      <!-- container ends here -->
      <hr class="separator1">
    </div>

    <div class="container portfolio">
      <div class="one_third shadow">
        <div class="view view-first">
          <img src="images/food/liangpi.jpg">
          <div class="mask">
            <h2>
              <a href="#">凉皮</a>
            </h2>
            <p>凉皮，起源于陕西关中地区的美食，是擀面皮、面皮、米皮、酿皮的统称。流行于中国北方地区。因原料、制作方法、地域不同，有热米（面）皮、擀面皮、烙面皮、酿皮等。口味有麻辣，酸甜，香辣等各种口味。 凉皮历史悠久，据说源于秦始皇时期，距今已有两千多年历史。</p>
          </div>
        </div>
        <!-- view ends here -->
      </div>
      <!--end one_third-->
      <div class="one_third shadow">
        <div class="view view-first">
          <img src="images/food/roujiamo.jpg">
          <div class="mask">
            <h2>
              <a href="#">肉夹馍</a>
            </h2>
            <p>肉夹馍是古汉语“肉夹于馍”的简称，中国陕西省传统特色食物之一。2016年1月，肉夹馍入选陕西省第5批非物质文化遗产名录。</p>
          </div>
        </div>
        <!-- view ends here -->
      </div>
      <!--end one_third-->
      <div class="one_third lastcolumn shadow">
        <div class="view view-first">
          <img src="images/food/yangrou.jpg">
          <div class="mask">
            <h2>
              <a href="#">羊肉泡馍</a>
            </h2>
            <p>羊肉泡馍简称羊肉泡、煮馍，制作原料主要有羊肉、葱末、粉丝、糖蒜等，古称"羊羹"，陕西美馔，尤以西安最享牛羊肉泡馍盛名，它烹制精细，料重味醇，肉烂汤浓，肥而不腻，营养丰富，香气四溢，诱人食欲，食后回味无穷。</p>
          </div>
        </div>
        <!-- view ends here -->
      </div>
      <!--end one_third-->
      <div class="one_third shadow">
        <div class="view view-first">
          <img src="images/food/xiaochao.png" alt>
          <div class="mask">
            <h2>
              <a href="#">小炒泡馍</a>
            </h2>
            <p>小炒泡馍简称为“小炒”，和牛羊肉泡馍类似，但在做法上有区别：普通泡馍是煮出来的，而小炒则是炒出来的。在用料上，小炒增加了黄花菜、木耳、青菜、豆腐干、鸡蛋等配料。小炒的味道既有泡馍的浓郁厚重，还有酸辣爽口的独到滋味。</p>
          </div>
          <!-- mask ends here -->
        </div>
        <!-- view ends here -->
      </div>
      <!--end one_third-->
      <div class="one_third shadow">
        <div class="view view-first">
          <img src="images/food/shaozi.png" alt>
          <div class="mask">
            <h2>
              <a href="#">臊子面</a>
            </h2>
            <p>臊（sào）子面是中国西北地区特色传统面食、著名西府小吃，以宝鸡的岐山臊子面最为正宗。在陕西关中平原及甘肃陇东等地方流行。臊子面历史悠久。臊子就是肉丁的意思。对于陕西人来说，臊子面的配色尤为重要，既好看又好吃。</p>
          </div>
          <!-- mask ends here -->
        </div>
        <!-- view ends here -->
      </div>
      <!--end one_third-->
      <div class="one_third lastcolumn shadow">
        <div class="view view-first">
          <img src="images/food/biangbiang.png" alt>
          <div class="mask">
            <h2>
              <a href="#">biangbiang面</a>
            </h2>
            <p>Biángbiáng面（汉语拼音：Biángbiáng miàn，biang字是一个合字，有多种写法，均无法输入电脑，常被代替写为BiángBiáng面、biángbiang面或彪彪面）是陕西关中特色传统风味面食，是传统的陕西裤带面。因为制作过程中有biang、biang的声音而得名。</p>
          </div>
          <!-- mask ends here -->
        </div>
        <!-- view ends here -->
      </div>
      <!--end one_third-->
    </div>

    <div>
      <hr class="separator">
      <div class="accordion-trigger">
        <h3>凉皮的制作方法</h3>
      </div>

      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/food/lp1.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/food/lp2.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/food/lp3.jpg" alt>
        </div>
        <!--end one_third-->
        <p>1、在面粉里加少量盐，和成面团，盖上湿布醒30分钟左右</p>
        <p>2、将上述所得面团放在一大容器里，加适量水，开始洗面筋，在水中不停的揉捏面团，待容器里的清水混稠时，将其用滤网滤到另外的容器里</p>
        <p>3、重复重复再重复，直到水不再浑浊，剩下那一下块黄黄的东东就面筋啦，在面筋里加点发酵粉抓匀，上蒸屉，足气蒸20分钟，晾凉后切片（PS：也可以不蒸，用油炸下，然后炒着吃，味道也不错）</p>
        <p>4、然后就是所得面糊啦，让其静置分层，一般至少要沉淀3小时，偶是头天晚上洗好，第二天才蒸的，面糊沉淀的时间越长，做出的凉皮儿越筋道。</p>
        <p>5、沉淀完成后，把上面的清水倒掉，用勺子把下面的沉淀搅匀，就可以蒸了。</p>
        <p>6、锅上火入水，待水沸，往模型（有专门蒸凉皮的模子，偶用的是曲奇饼干的盒盖，效果还可以）里刷少许油，舀一勺面糊倒入，面糊的多少由个人掌握，喜欢厚一点儿的凉皮儿就多舀一点儿，反之则少一些，把模型里的面糊荡匀，让模型底部均匀的盖上面糊。然后把模型放入开水锅中，盖上锅盖。火要一直保持大火，蒸大约5-6分钟，锅里的凉皮儿会慢慢的鼓起大泡就好啦。</p>
        <p>7、在水池中蓄一池凉水，把模型放在里边漂着。也可以把模子倒置，用冷水直接冲其底部，这样效果 要好些， 等凉皮儿完全凉透，表面刷一些油，就可以慢慢剥下了，按自己喜好切成条就好了。</p>
        <hr class="separator1">
      </div>

      <div class="accordion-trigger">
        <h3>泡馍的制作方法</h3>
      </div>

      <div class="accordion-container">
        <div class="one_third">
          <img class="shadow" src="images/food/pm1.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third">
          <img class="shadow" src="images/food/pm2.jpg" alt>
        </div>
        <!--end one_third-->
        <div class="one_third lastcolumn">
          <img class="shadow" src="images/food/pm3.jpg" alt>
        </div>
        <!--end one_third-->
        <p>制作材料</p>
        <p>主料：烙饼(标准份)200克</p>
        <p>辅料：黄花菜(干)50克,木耳(水发)50克,粉丝50克,青蒜10克,香菜10克,羊肉(熟)100克</p>
        <p>调料：盐4克,味精2克,胡椒粉2克</p>
        <p>制作流程</p>
        <p>先将烙饼掰成碎块,黄花、木耳洗净撕碎,粉丝泡发,青蒜洗净择段,香菜择洗净,卤羊肉切片备用,将掰好的烙饼放到锅里，加入羊肉汤，放入黄花、木耳、粉丝、青蒜，煮熟,调入盐、味精、胡椒粉拌匀，盛入碗内,放上切成片的卤羊肉，撒上香菜即可。</p>
        <hr class="separator1">
      </div>

      <hr class="separator2">
    </div>
  </div>
</template>

<script>
export default {
  name: "food",
  components: {}
};
</script>

