<template>
  <div class="small">
    <line-chart></line-chart>
  </div>
</template>

<script>
import { Pie } from "vue-chartjs";
const LineChart = {
  extends: Pie,
  mounted() {
    // Overwriting base render method with actual data.
    this.renderChart({
      labels: ["January", "February", "March", "April"],
      datasets: [
        {
          label: "GitHub Commits",
          backgroundColor: "#f87979",
          data: [10, 20, 40, 30],
          backgroundColor: ["red", "orange", "yellow", "green", "blue"]
        }
      ]
    });
  }
};

export default {
  name: "food",
  components: {
    LineChart
  }
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>