<template>
  <div>
    <InfoBox/>
    <Container/>
    <Headingblock/>
    <Article/>
  </div>
</template>

<script>
import InfoBox from "../components/InfoBox.vue";
import Container from "../components/Container.vue";
import Headingblock from "../components/Headingblock.vue";
import Article from "../components/Article.vue";

export default {
  name: "Home",
  components: {
    InfoBox,
    Container,
    Headingblock,
    Article
  }
};
</script>

<style>
</style>
