
<template>
  <div class="container latest">
    <div class="two_third">
      <div class="accordion-trigger">
        <h3>地理环境</h3>
      </div>
      <div class="accordion-container">
        <p>西安市位于渭河流域中部关中盆地，东经107.40度～109.49度和北纬33.42度～34.45度之间，北临渭河和黄土高原，南邻秦岭。东以零河和灞源山地为界，与华县、渭南市、商州市、洛南县相接；西以太白山地及青化黄土台塬为界，与眉县、太白县接壤；南至北秦岭主脊，与佛坪县、宁陕县、柞水县分界；北至渭河，东北跨渭河，与咸阳市区、杨凌区和三原、泾阳、兴平、武功、扶风、富平等县（市）相邻。辖境东西长约204公里，南北宽约116公里。截至2016年，西安面积9983平方公里，其中市区面积1066平方公里。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>经济情况</h3>
      </div>
      <div class="accordion-container">
        <p>西安是丝绸之路经济带的经济、文化、商贸中心，新亚欧大陆桥及黄河流域最大城市。2017年，西安地区生产总值（GDP）7469.85亿元，比上年增长7.7%。其中，第一产业增加值281.12亿元，增长4.6%；第二产业增加值2596.08亿元，增长5.5%；第三产业增加值4592.65亿元，增长9.2%。三次产业构成为3.8:34.7:61.5。按常住人口计算，全年人均生产总值78346元，比上年增长6.0%。全年非公有制经济增加值3962.50亿元，占生产总值的比重为53.0%，比上年提高0.2个百分点。</p>
        <p>2017年，西安财政总收入1364.71亿元，比上年增长12.6%。全年地方财政一般公共预算收入654.50亿元，增长9.8%。全年地方财政一般公共预算支出1045.09亿元，比上年增长7.1%</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>政治情况</h3>
      </div>
      <div class="accordion-container">
        <p>市委书记：王永康</p>
        <p>市长：上官吉庆</p>
        <p>市人大常委会主任：胡润泽</p>
        <p>市委常委、常务副市长：吕健</p>
        <p>市委常委、副市长：高杲</p>
        <p>市委常委、市政府党组成员：聂仲秋</p>
        <p>副市长：方光华、董劲威、强晓安、李元、杨广亭</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>交通运输</h3>
      </div>
      <div class="accordion-container">
        <p>西安地处中国陆地版图中心和中国中西部两大经济区域的结合部，是西北通往中原、华北和华东各地市的必经之路。在全国区域经济布局上，西安作为新亚欧大陆桥中国段——陇海兰新铁路沿线经济带上最大的西部中心城市，是国家实施西部大开发战略的桥头堡，具有承东启西、连接南北的重要战略地位，是全国干线公路网中最大的节点城市之一。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>自然资源</h3>
      </div>
      <div class="accordion-container">
        <h4>水资源</h4>
        <p>西安是水资源缺乏的西部城市，西安地下水储量估算，总计约19.91亿立方米。2001年12月，黑河水利枢纽主体工程建成，每年向西安供水4亿立方米，形成日供水能力120万吨，加上地下水资源，市区日供水能力可达172万吨，基本满足城市生产生活用水。秦岭以北平原地区具有良好的储存地热水的地质条件，仅城区可以开发的地热面积约780平方公里，地下热水可采储量约为5.39亿立方米。</p>
        <h4>土地资源</h4>
        <p>西安市土壤分布形成南北两个差异明显的区域，北部的渭河平原以黄褐土、褐土为代表，南部的秦岭山地以黄棕壤、棕壤为代表。据1980～1986年土壤普查，全市有12个土类，24个土壤亚类，50个土属，181个土种。土壤类型的复杂多样，为区内农作物的多品种组合提供了有利条件。</p>
        <hr class="separator1">
      </div>
      <div class="accordion-trigger">
        <h3>人口情况</h3>
      </div>
      <div class="accordion-container">
        <p>2016年末西安常住人口883.21万人，比上年末净增加12.65万人，其中，男性人口453.42万人，占51.3%；女性人口429.79万人，占48.7%，性别比为105.5（以女性为1，男性对女性的比例）。全年出生人口10.12万人，出生率为11.54‰；死亡人口4.74万人，死亡率为5.40‰；自然增长率为6.14‰。城镇人口648.54万人，占73.43%；乡村人口234.67万人，占26.57%。年末全市户籍总人口824.93万人，比上年增长1.14%。2017年末全市户籍总人口905.68万人，其中西咸新区咸阳片区60.59万人。</p>
        <hr class="separator1">
        <!-- ENDS Accordions -->
      </div>
    </div>
    <!-- two_third ends here -->
    <div class="one_third lastcolumn">
      <article>
        <img src="images/one/3.jpg">
        <hr class="separator1">
      </article>
      <img src="images/one/2.jpg">
      <hr class="separator1">
    </div>
    <!-- one_third ends here -->
  </div>
</template>

<script>
export default {
  name: "Container",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
