<template>
  <div class="container latest">
    <div class="one_third">
      <figure class="shadow">
        <a href="#" class="thumb"></a>
        <figcaption>
          <a href="#">
            <h3 class="heading"></h3>
          </a>
          <p
            class="bioquote"
          >西安，古称长安、镐京，是陕西省会、副省级市、关中平原城市群核心城市、丝绸之路起点城市、"一带一路"核心区、中国西部地区重要的中心城市，国家重要的科研、教育、工业基地。</p>
        </figcaption>
      </figure>
    </div>
    <!-- one_third ends here -->
    <div class="one_third">
      <figure class="shadow">
        <a href="#" class="thumb"></a>
        <figcaption>
          <a href="#">
            <h3 class="heading"></h3>
          </a>
          <p
            class="bioquote"
          >西安是中华文明和中华民族重要发祥地。长安自古帝王都，先后有西周、秦、西汉、新莽、东汉、西晋、前赵、前秦、后秦、西魏、北周、隋、唐13个王朝在此建都。</p>
        </figcaption>
      </figure>
    </div>
    <!-- one_third ends here -->
    <div class="one_third lastcolumn">
      <figure class="shadow">
        <a href="#" class="thumb"></a>
        <figcaption>
          <a href="#">
            <h3 class="heading"></h3>
          </a>
          <p
            class="bioquote"
          >西安是中国最佳旅游目的地，有两项六处遗产被列入《世界遗产名录》，分别是：秦始皇陵及兵马俑、大雁塔、小雁塔、唐长安城大明宫遗址、汉长安城未央宫遗址、兴教寺塔。</p>
        </figcaption>
      </figure>
    </div>
    <!-- one_third ends here -->
  </div>
</template>

<script>
export default {
  name: "Container",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
