<template>
  <div id="header">
    <div class="container">
      <!-- Header | Logo, Menu
      ==================================================-->
      <div class="logo">
        <a href="index.html">
          <img src="images/logo2.png" alt>
        </a>
      </div>
      <div class="mainmenu">
        <div id="mainmenu">
          <ul class="sf-menu">
            <li>
              <!-- <a href="index.html">主页</a> -->
              <router-link to="/">主页</router-link>
            </li>
            <li>
              <!-- <a href="jingdian.html">景点</a> -->
              <router-link to="/attraction">景点</router-link>
              <router-link to="/attraction-check" style="padding:0">(查看)</router-link>
              <!-- <a style="margin-top: -80px;margin-left: -7px" href="tu/zhexian.html">(查看)</a> -->
            </li>
            <li>
              <router-link to="/food">美食</router-link>
              <router-link to="/food-check" style="padding:0">(查看)</router-link>
              <!-- <a href="meishi.html">美食</a>
              <a style="margin-top: -80px;margin-left: -7px" href="tu/zhuzhuangtu.html">(查看)</a>-->
            </li>
            <li>
              <router-link to="/education">教育</router-link>
              <router-link to="/education-check" style="padding:0">(查看)</router-link>
              <!-- <a href="jiaoyu.html">教育</a>
              <a style="margin-top: -80px;margin-left: -7px" href="tu/bingtu.html">(查看)</a>-->
            </li>
            <li>
              <router-link to="/contact">联系我们</router-link>
              <!-- <a href="contact.html">联系我们</a> -->
            </li>
          </ul>
        </div>
        <!-- mainmenu ends here -->

        <!-- Responsive Menu -->
        <form id="responsive-menu" action="#" method="post">
          <select>
            <option value>西安</option>
            <option value="index.html">主页</option>
            <option value="jingdian.html">景点</option>
            <option value="meishi.html">美食</option>
            <option value="jiaoyu.html">教育</option>
            <option value="contact.html">联系我们</option>
          </select>
        </form>
      </div>
      <!-- mainmenu ends here -->
    </div>
    <!-- container ends here -->
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
