<template>
  <div class="headingblock">
    <div class="container heading">
      <header>
        <h1>走进西安</h1>
        <p></p>
      </header>
    </div>
    <!-- container ends here -->
    <hr class="separator1">
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
