<template>
  <div class="infobox">
    <div class="container info">
      <header>
        <h1>西安</h1>
        <p class="infop">十三朝古都、丝路明珠、未来之城</p>
      </header>
      <hr class="separator">
    </div>
    <!-- container ends here -->
  </div>
</template>

<script>
export default {
  name: "InfoBox",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
