<template>
  <section class="slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <a href="#">
            <img src="images/1.jpg" alt>
          </a>
        </li>
        <li>
          <img src="images/2.jpg" alt>
        </li>
        <li>
          <a href="#">
            <img src="images/3.jpg" alt>
          </a>
        </li>
      </ul>
    </div>
    <!-- flexslider ends here -->
  </section>
</template>

<script>
export default {
  name: "Slider",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
