<template>
  <div>
    <hr class="separator2">
    <div class="socialsblock">
      <div class="container socialize">
        <h4>Welcome To xi'an!</h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Slider",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
