<template>
  <div id="app">
    <Header/>
    <Slider/>
    <router-view></router-view>
    <Socialsblock/>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Slider from "./components/Slider.vue";
import Socialsblock from "./components/Socialsblock.vue";

export default {
  name: "app",
  components: {
    Header,
    Slider,
    Socialsblock
  }
};
</script>

<style>
#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
</style>
